@import url(http://fonts.googleapis.com/css?family=Lato:300,400)

html
  width 100%
  height 100%
  font-family Lato, "Helvetica Neue", helvetica, serif
  font-weight 300
  font-size 22px
  overflow-x hidden

body
  //background linear-gradient(#105d7f 1%,#305778 2%,#63b5ce 55%,#63b5ce 99%,#70caff 100%)
  background radial-gradient(circle, #c03d43 0%, #902025 72%, #481013 100%)
  background-attachment fixed
  margin 0
  height 100%
  max-height 100%

// tyopography

h1, h2, h3, h4, h5, h6
  padding 0 15px
  font-weight 300

h1  font-size 225%
h2  font-size 200%
h3  font-size 175%
h4  font-size 150%
h5  font-size 125%
h6  font-size 100%

// horizontal rules

hr
  margin 0 15px
  border-color #eee
  border-width 1px 0
  border-style solid

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0
