field-height           = 45px
number-inputs          = 4
label-height           = field-height
label-padding          = 10px
input-group-margin-top = 70px
header-height          = 265px

ff-padding-top         = 100px
ff-padding-right       = 30px
ff-padding-bottom      = 30px
ff-padding-left        = 30px

ff-padding = ff-padding-top ff-padding-right ff-padding-bottom ff-padding-left

input-group-height = label-height + input-group-margin-top

formula-height = (number-inputs * input-group-height + ff-padding-top + ff-padding-bottom)px
