field-height           = 45px
number-inputs          = 5
label-height           = field-height
label-padding          = 10px
input-group-margin-top = 70px
header-height          = 300px

ff-padding-top         = 100px
ff-padding-right       = 30px
ff-padding-bottom      = 60px
ff-padding-left        = 30px

ff-padding = ff-padding-top ff-padding-right ff-padding-bottom ff-padding-left

input-group-height = label-height + input-group-margin-top
