.formula {
  .input-group:first-child {
    margin-top: 50px;
  }

  .input-group {
    margin-top: 70px;
    position: relative;
    transition: opacity ease 0.1s 0.325s;
  }

  input {
    width: 90%; // will be overwritten.
    max-height: $fieldHeight;
    padding: 10px 5%; // will be overwritten.
    margin: 0;
    font-size: inherit;
    text-align: left;
    font-family: inherit;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    //box-shadow: 2px 0 1px rgba(50,50,50,0.05),
    //            -2px 0 1px rgba(50,50,50,0.05);
    transition: box-shadow ease 0.3s,
                all ease 0.3s;
    text-overflow: ellipsis;
    box-sizing: padding-box;

    &:focus {
      outline: none;
      box-shadow: -1px 1px 3px rgba(0,0,0,0.07),
                   1px 1px 3px rgba(0,0,0,0.07);
      margin-bottom: 1px;
      margin-top: -1px;
      &~.glance {
        border: none;
      }
      &~* {
        top: 0;
      }
    }

    &.focus {
      &~label {
        top: -55px;
        color: black;
        text-shadow: 0 0 1px 0px rgb(100,100,250);
      }
    }

    &~* { transition: top ease 0.3s; }

    &.valid~.glance::after {
      color: rgb(10, 225, 10);
      text-shadow: 0 0 7px rgb(255,255,255);
    }
  }

  .glance {
    height: $fieldHeight + 2px;
    width: 30px;
    background: #f4f4f4;
    box-shadow: 1px 0 1px rgba(0,0,0,0.1);
    padding: 0;
    margin: 0;
    top: 1px;
    left: 1px;
    position: absolute;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all ease 0.5s;

    &::after {
      content: "\2713";
      padding: 3px;
      position: relative;
      top: 7px;
      font-size: 28px;
      color: transparent;

      transition: all ease 0.5s;
    }
  }

  *[class*='pill-'] {
    height: $fieldHeight + 2px;
    text-align: center;
    top: 0;
    background: #fafafa;
    border-radius: 2px;
    padding: 0 15px;
    margin: 0;
    position: absolute;

    span {
      display: inline-block;
      padding-top: 8px;
    }
  }

  .pill-right {
    right: 0;
    box-shadow: -1px 0 1px rgba(0,0,0,0.1);
  }

  .pill-left {
    left: 0;
    box-shadow: 1px 0 1px rgba(0,0,0,0.1);
  }

  .glance~.pill-left {
    left: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 1px 0 1px rgba(0,0,0,0.1),
                inset 1px 0 1px rgba(0,0,0,0.1);
  }

  .pill-left~.glance {
    left: 100px;
  }

  label {
    display: block;
    padding: 10px 0;
    margin-top: -$fieldHeight - 3px;
    text-align: center;
    position: relative;
    top: 0px;
    cursor: text;
    transition: top ease 0.8s,
                color ease 0.5s 0.25s,
                all ease 0.8s;
    color: #aaa;
  }
}
