@import 'vars';
@import 'base';
@import 'formula-inputs';

// formula

$fieldHeight: 45px;

.formula {
  display: block;
  margin: 0 auto;
  width: 85%;
  position: relative;
  max-width: 700px;
  transition: all ease 1s;

  .header-img {
    background-image: url('../images/epic-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    z-index: 2;
    position: relative;
  }

  .primary-window {
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;

    max-height: 100%;
    background: radial-gradient(circle, #f2f2f2 0%, #ebebeb 100%);
    transition: transform ease 0.5s,
                top ease-out 0.5s,
                max-height ease 0.5s;

    margin-top: -215px;

    transform-origin: 50% 50%;
    overflow: hidden;
    top: 80px;

    .thanks {
      position: absolute;
      text-align: center;
      width: 100%;
      opacity: 0;
      transition: all ease 1s 3s;
      margin-left: -30px;
      // firefox, you are a bitch.
      transform: rotateY(180deg);
    }
  }

  &:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    outline: none;
  }

  .forcefield {
    padding: 100px 30px 60px 30px;
  }

  .submit-btn {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: white;
    transform-origin: bottom;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: -1;
    transform: rotateX(-90deg);
    transition: transform ease-in 0.3s 0.1s,
                box-shadow ease 0.6s,
                opacity ease 0.1s;
  }

  &.persp {
    .primary-window {
      transform: rotateX(37deg);
      top: 14px + 12*$numberInputs; // 3: 50; 4: 62; 5: 74
      box-shadow: inset 0 30px rgba(0,0,0,0.015),
                  inset 0 25px rgba(0,0,0,0.02),
                  inset 0 10px rgba(0,0,0,0.025);
    }

    .submit-btn {
      transform: rotateX(0deg);
      transform-origin: bottom;

      box-shadow: 0 7px 15px rgba(0,0,0,0.2);

      cursor: pointer;
    }
  }

  &.punched {

    .primary-window {
      transform-origin: 50% 0%;
      animation: 3s punch-ticket;
    }

    .input-group {
      opacity: 0;
    }

    .thanks {
      display: block;
      opacity: 1;
      top: 95px;
    }

    .submit-btn {
      opacity: 0;
    }

    // because firefox is a bitch.
    &.end {
      .primary-window {
        max-height: 620px;
        // this one's for IE 10...
        transition: none;
        transform: rotateY(180deg);
      }
    }
  }
}


// FUKKKKKKiNG FIREFOX
// NOTE: the build kills the moz keyframes because it's a bitch about this shit.
// soooooo... ugh. copy this line every time it builds and you want to save.
@-moz-keyframes punch-ticket{0%{transform:rotateX(0deg)translateY(0)}35%{transform:rotateX(180deg)translateY(0)}50%{transform:rotateX(180deg)translateY(80px);max-height:620px}65%{transform:rotateX(180deg)translateY(0);max-height:620px}100%{transform:rotateX(180deg)rotateZ(180deg);max-height:620px}}

@keyframes punch-ticket{0%{transform:rotateX(0deg)translateY(0)}35%{transform:rotateX(180deg)translateY(0)}50%{transform:rotateX(180deg)translateY(80px);max-height:620px}65%{transform:rotateX(180deg)translateY(0);max-height:620px}100%{transform:rotateX(180deg)rotateZ(180deg);max-height:620px}}

@-webkit-keyframes punch-ticket {
  0% { transform: rotateX(0deg) translateY(0); }
  35% { transform: rotateX(180deg) translateY(0); }
  50% { transform: rotateX(180deg) translateY(80px); }
  65% { transform: rotateX(180deg) translateY(0); }
  100% { transform: rotateX(180deg) rotateZ(180deg); }
}

@-ms-keyframes punch-ticket {
  0% { transform: rotateX(0deg) translateY(0); }
  35% { transform: rotateX(180deg) translateY(0); }
  50% { transform: rotateX(180deg) translateY(80px); max-height: 620px; }
  65% { transform: rotateX(180deg) translateY(0); max-height: 620px; }
  // for some reason, IE flips Z.
  100% { transform: rotateX(-180deg) rotateZ(180deg); max-height: 620px; }
}
