doctype html
html
  head
    meta(charset='utf-8')
    title EPIC Application
    meta(name='description', content='Apply to EPIC, Northwestern\'s premier Entrepreneurship Student Group!')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='main.css')

  body
    #formula-container
      // Outline pane. Will be populated by JavaScript.
      section.sidebar
        .header
        ul#formula-outline

      // NOTE(jordan): Begin the actual content!
      .formula
        // NOTE(jordan): Hidden at start.
        // NOTE(jordan): Begin actual form.
        .next-btn.formula-button
          .inner-btn
            span Next

        form
          .primary-window.page.current
            .forcefield
              h2 Welcome to the Official EPIC Application!
              .input-group
                input#name(type='text', required)
                label Name (First and Last)
                .glance
              .input-group
                input#email(type='email', required)
                label School Email
                .glance
                .pill-right
                  span .edu
          .primary-window.page
            i.back-btn Back
            .forcefield
              h2 Some Basic Info
              .input-group
                input#year(type='text', required)
                label Class Year (eg: 2017)
                .glance
              .input-group
                input#major(type='text', required)
                label Major
                .glance
              .input-group
                input#phone(type='tel', required)
                label Phone Number: (xxx) yyy zzzz
                .glance
          .primary-window.page#branches
            i.back-btn Back
            .forcefield
              h2 Where do you see yourself in EPIC? Select as many as apply.
              .input-group.checkboxes
                .checkbox.exclusive
                  input#apply-for-general-membership(type='checkbox', required)
                  label EPIC General Membership

                .checkbox
                  input#apply-for-epic-team(type='checkbox', required)
                  label EPIC Team

                .checkbox
                  input#apply-for-launch(type='checkbox', required)
                  label EPIC Launch Cohort

                .checkbox
                  input#apply-for-sprout(type='checkbox', required)
                  label EPIC Sprout Participant

          // NOTE(jordan): Long-form response section.
          .primary-window.page.general-membership.skip
            i.back-btn Back
            .forcefield
              h2 What do you want to get out of your membership?
              .input-group
                textarea#what-do-you-want-to-get-out-of-general-membership(required)
                label What would you like to learn, or gain, as a General Member?
          .primary-window.page.epic-teams
            i.back-btn Back
            .forcefield
              h2 What's your story? Tell us about yourself.
              .input-group
                textarea#what-is-your-story(required)
                label What are you passionate about? What was your journey to NU?
          .primary-window.page.epic-teams
            i.back-btn Back
            .forcefield
              h2 What do you hope to learn, or what skills do you hope to gain from joining EPIC?
              .input-group
                textarea#what-do-you-hope-to-learn(required)
                label Be as general or specific as you like.
          .primary-window.page.epic-teams
            i.back-btn Back
            .forcefield
              h2 Why are you passionate about entrepreneurship?
              .input-group
                textarea#why-are-you-passionate-about-entrepreneurship(required)
                label Feel free to tell us about any entrepreneurial experience.
          .primary-window.page.epic-teams
            i.back-btn Back
            .forcefield
              h2 What else are you involved in?
              .input-group
                textarea#what-else-are-you-involved-in(required)
                label e.g. work-study, other student orgs, study abroad, etc.
          .primary-window.page.launch-cohort.skip
            i.back-btn Back
            .forcefield
              h2 What do you want to get out of Launch?
              .input-group
                textarea#what-do-you-want-to-get-out-of-launch(required)
                label What would make the experience awesome for you?
          .primary-window.page.epic-teams
            i.back-btn Back
            .forcefield
              h2 Do you have any work you're proud of?
              .input-group
                input#work1(type='text')
                label Link us!
                .glance
              .input-group
                input#work2(type='text')
                label Got more? Link it!
                .glance
              .input-group
                input#work3(type='text')
                label Another? What an overachiever!
                .glance
          .primary-window.page#overview
            i.back-btn Back
            .forcefield
              h2 Overview
              .overview-container

            // NOTE(jordan): Displayed after form submission animation completes.
            .thanks
              h3 Thanks for applying! We'll be in touch. :D
              h5 If you do not receive a confirmation email from contact@nuisepic.com to the email
                | address you used in your application within the next 5 minutes, please email us and
                | let us know.

    // NOTE(jordan): Embeds.
    include ./embed/google-analytics
    include ./embed/olark

    script(type='text/javascript', src='//api.filepicker.io/v1/filepicker.js' async)

    // build:js scripts/main.js
    script(type='text/javascript', src='../node_modules/store/store.min.js')
    script(src='./scripts/ToProgress.min.js', async)
    script(src='./scripts/extensions.js', async)
    script(src='./scripts/formula_anim.js', async)
    script(src='./scripts/formula_notify.js', async)
    script(src='./scripts/formula_cache.js', async)
    script(src='./scripts/formula_validator.js', async)
    script(src='./scripts/formula_submitter.js', async)
    script(src='./scripts/main.js', async)
    // endbuild
