doctype html
html
  head
    meta(charset='utf-8')
    title EPIC Application
    meta(name='description', content='Apply to EPIC, Northwestern\'s premier Entrepreneurship Student Group!')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='main.css')

  mixin essayQuestion(id, header, label)
    .primary-window.page
      i.back-btn Back
      .forcefield
        h2= header
        .input-group
          textarea(id=id, required, name!=attributes.name)
          label= label
        .next-btn.formula-button
          .inner-btn
            span Next
      if block
        block

  body
    #formula-container
      // Outline pane. Will be populated by JavaScript.
      section.sidebar
        .header
        ul#formula-outline

      // NOTE(jordan): Begin the actual content!
      .formula
        // NOTE(jordan): Hidden at start.
        // NOTE(jordan): Begin actual form.
        .next-btn.formula-button
          .inner-btn
            span Next

        form
          .primary-window.page.current
            .forcefield
              h2 Welcome to the Official EPIC Application!
              .input-group
                input#name(type='text', required)
                label Name (First and Last)
                .glance
              .input-group
                input#email(type='email', required)
                label School Email
                .glance
                .pill-right
                  span .edu
          .primary-window.page
            i.back-btn Back
            .forcefield
              h2 Some Basic Info
              .input-group
                input#year(type='text', required)
                label Class Year (eg: 2017)
                .glance
              .input-group
                input#major(type='text', required)
                label Major
                .glance
              .input-group
                input#phone(type='tel', required)
                label Phone Number: (xxx) yyy zzzz
                .glance
          .primary-window.page#branches
            i.back-btn Back
            .forcefield
              h2 Where do you see yourself in EPIC? Select as many as apply.
              .input-group.checkboxes
                .checkbox.exclusive
                  input#apply-for-epic-membership(type='checkbox', required)
                  label EPIC General Membership

                .checkbox
                  input#apply-for-epic-team(type='checkbox', required)
                  label EPIC Team

                .checkbox
                  input#apply-for-launch(type='checkbox', required)
                  label EPIC Launch Cohort

                .checkbox
                  input#apply-for-sprout(type='checkbox', required)
                  label EPIC Sprout Participant

          // NOTE(jordan): Long-form response section.
          .primary-window.page.general-membership.skip
            i.back-btn Back
            .forcefield
              h2 What do you want to get out of your membership?
              .input-group
                textarea#what-want-general-membership(required)
                label What would you like to learn, or gain, as a General Member?
          .primary-window.page.epic-teams.launch-cohort
            i.back-btn Back
            .forcefield
              h2 What's your story? Tell us about yourself.
              .input-group
                textarea#story(required)
                label What are you passionate about? What was your journey to NU?
          .primary-window.page.epic-teams.launch-cohort
            i.back-btn Back
            .forcefield
              h2 What do you hope to learn, or what skills do you hope to gain from joining EPIC?
              .input-group
                textarea#hope-learn(required)
                label How is it different from other organizations?
          .primary-window.page.epic-teams.launch-cohort
            i.back-btn Back
            .forcefield
              h2 Why are you passionate about entrepreneurship?
              .input-group
                textarea#why-interested(required)
                label Feel free to tell us about any entrepreneurial experience.
          .primary-window.page.epic-teams.launch-cohort
            i.back-btn Back
            .forcefield
              h2 What will you contribute to the specific team you are interested in?
              .input-group
                textarea#how-contribute(required)
                label How do you see yourself fitting in?
          .primary-window.page.epic-teams.launch-cohort
            i.back-btn Back
            .forcefield
              h2 What else are you involved in?
              .input-group
                textarea#other-involvements(required)
                label e.g. work-study, other student orgs, study abroad, etc.
          .primary-window.page.launch-cohort.skip
            i.back-btn Back
            .forcefield
              h2 What do you want to get out of Launch?
              .input-group
                textarea#what-want-launch(required)
                label e.g. work-study, other student orgs, study abroad, etc.
          .primary-window.page.launch-cohort.epic-teams
            i.back-btn Back
            .forcefield
              h2 Do you have any work you're proud of?
              .input-group
                input#work1(type='text')
                label Link us!
                .glance
              .input-group
                input#work2(type='text')
                label Got more? Link it!
                .glance
              .input-group
                input#work3(type='text')
                label Another? What an overachiever!
                .glance
          .primary-window.page#overview
            i.back-btn Back
            .forcefield
              h2 Overview
              // I don't really know what to put here right now

            // NOTE(jordan): Displayed after form submission animation completes.
            .thanks
              h3 Thanks for applying! We'll be in touch. :D
              img(src='./images/fyeah2.png')

    // NOTE(jordan): Embeds.
    include ./embed/google-analytics
    include ./embed/olark

    script(type='text/javascript', src='//api.filepicker.io/v1/filepicker.js' async)

    // build:js scripts/main.js
    script(type='text/javascript', src='../../node_modules/store/store.min.js')
    script(src='../scripts/ToProgress.min.js', async)
    script(src='../scripts/extensions.js', async)
    script(src='../scripts/formula_anim.js', async)
    script(src='../scripts/formula_notify.js', async)
    script(src='../scripts/formula_cache.js', async)
    script(src='../scripts/formula_validator.js', async)
    script(src='../scripts/formula_submitter.js', async)
    script(src='../scripts/main.js', async)
    // endbuild
