doctype html
html
  head
    meta(charset='utf-8')
    title EPIC Application
    meta(name='description', content='Apply to EPIC, Northwestern\'s premier Entrepreneurship Student Group!')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='main.css')

  mixin essayQuestion(id, header, label)
    .primary-window.page
      i.back-btn Back
      .forcefield
        h2= header
        .input-group
          textarea(id=id, required, name!=attributes.name)
          label= label
      if block
        block

  body
    #formula-container
      .mobile-warning
        p Hey! It looks like you're using a mobile phone, which is awesome.
        p But we spent a lot of time making this application look juuuust right for desktop, and it'll probably be a little squishy on your phone.
        p (But it should still work!)
        p If that's OK with you, you really want the squishy, less exciting version, then&nbsp;
          a(href='#', do='close-warning') tap here
          | .
        p Otherwise, come back on your computer later, ok? ;)

      // Outline pane. Will be populated by JavaScript.
      ul#formula-outline

      // NOTE(jordan): dupe-frame: for to dupe the form into submitting to a Google spreadsheet
      // without refreshing the page.
      iframe(name='dupe-frame')

      // NOTE(jordan): Begin the actual content!
      .formula
        .header

        // NOTE(jordan): Hidden at start.
        .next-btn
          .inner-btn
            span Next

        // NOTE(jordan): Begin actual form.
        form
          .primary-window.page.current
            .forcefield
              h2 Welcome to the Official EPIC Application!
              .input-group
                input#name(type='text', name='entry.354342888', required)
                label Name (First and Last)
                .glance
              .input-group
                input#email(type='email', name='entry.436547589', required)
                label School Email
                .glance
                .pill-right
                  span .edu
              .input-group
                input#hearsay(type='text', name='entry.1486322634', required)
                label How did you hear about our application?
                .glance
          .primary-window.page
            i.back-btn Back
            .forcefield
              h2 Some Basic Info
              .input-group
                input#year(type='text', name='entry.1494609428', required)
                label Class Year (eg: 2017)
                .glance
              .input-group
                input#major(type='text', name='entry.252100536', required)
                label Major
                .glance
              .input-group
                input#phone(type='tel', name='entry.1881012293', required)
                label Phone Number: (xxx) yyy zzzz
                .glance
          .primary-window.page
            i.back-btn Back
            .forcefield
              h2 I am applying to (select as many as apply):
              .input-group.checkboxes
                input#apply-for-launch(type='checkbox', required)
                label Participate in Launch

                input#apply-for-epic(type='checkbox', required)
                label Join EPIC Teams
          .primary-window.page
            i.back-btn Back
            .forcefield
              h2 I want to...
              .input-group.checkboxes
                input#build-a-startup(type='checkbox', required)
                label Build a Startup

                input#run-a-hackathon(type='checkbox', required)
                label Run a Hackathon

                input#learn-to-code(type='checkbox', required)
                label Learn to Code

                input#teach-entrepreneurship(type='checkbox', required)
                label Teach Entrepreneurship
          .primary-window.page
            i.back-btn Back
            .forcefield
              h2 I am a...
              .input-group.checkboxes
                input#hacker(type='checkbox', name='entry.2003569147', required)
                label Hacker
                input#designer(type='checkbox', name='entry.1080060025', required)
                label Designer
                input#builder(type='checkbox', name='entry.711584580', required)
                label Builder
              .input-group
                textarea#explain-skills(name='entry.549867061', required)
                label Explain your selections

          // NOTE(jordan): Long-form response section.
          +essayQuestion('story', 'What\'s your story? Tell us about yourself.', 'Ex: What are you passionate about? What was your journey to NU?')(name='entry.1482811689')
          +essayQuestion('why-epic-matters', 'Why does EPIC matter to Northwestern?', 'How is it different from other organizations?')(name='entry.1038701340')
          +essayQuestion('why-interested', 'Why are you interested in joining EPIC?', 'What do you hope to learn? What skills do you hope to gain?')(name='entry.1277416023')
          +essayQuestion('how-contribute', 'How will you contribute to your team?', 'Whichever it may be. How will you foster inter-team cooperation?')(name='entry.1133447629')
          +essayQuestion('other-involvements', 'What else are you involved in?', 'e.g.; Work-study, ISBE, DOJO, etc.')(name='entry.93355119')
          +essayQuestion('elevator-pitch', 'Why are you the best person for EPIC?', '5 Minutes! Elevator Pitch! Go!')(name='entry.555173403')
          +essayQuestion('anything-else', 'Anything else you would like us to consider?', 'Maybe share some fun (or serious) facts. :)')(name='entry.1658748676')

            // NOTE(jordan): Displayed after form submission animation completes.
            .thanks
              h3 Thanks for applying! We'll be in touch. :D
              img(src='./images/fyeah2.png')

    // NOTE(jordan): Embeds.
    include ./google-analytics
    include ./olark

    script(type='text/javascript', src='//api.filepicker.io/v1/filepicker.js' async)

    // build:js scripts/main.js
    script(type='text/javascript', src='../../node_modules/store/store.min.js')
    script(src='../scripts/ToProgress.min.js', async)
    script(src='../scripts/extensions.js', async)
    script(src='../scripts/formula_anim.js', async)
    script(src='../scripts/formula_notify.js', async)
    script(src='../scripts/formula_cache.js', async)
    script(src='../scripts/formula_validator.js', async)
    script(src='../scripts/formula_submitter.js', async)
    script(src='../scripts/main.js', async)
    // endbuild
